#tabstrip-profile h2 {
    display: inline-block;
    font-size: 1.1em;
    margin: 1.5em 0 0 1em;
}
#tabstrip-profile h2 span {
    display: block;
    clear: both;
    font-size: 2em;
    margin: .2em 0 0 0;
}
#tabstrip-profile img {
    width: 5em;
    height: 5em;
    float: left;
    margin: 1em;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.sales-down,
.sales-hold,
.sales-up,
.value {
    float: right;
}
.sales-up { color: green; }
.sales-down { color: red; }
.sales-hold { color: blue; }
.value { color: #bbb; }
